<img src="https://www.pngarts.com/files/4/Apple-Macbook-Pro-PNG-Background-Image.png" alt="Apple-Macbook-Pro" />

<span class="description">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi, adipisci vitae numquam consequuntur esse eligendi
  minus sequi enim atque doloremque pariatur aut soluta voluptatum aliquid porro quas dolores nostrum! <br /><br />
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi, adipisci vitae numquam consequuntur esse eligendi!
</span>
