@if (featuresState$ | async; as featuresState) {
  @if (featuresState.hasDataEnoughToDisplaySection) {
    <div class="section">
      <h2 class="title">Características</h2>

      <div class="features">
        @if (featuresState.isFavorite) {
          <app-is-favorite />
        }

        @if (featuresState.hasDiscount) {
          <app-has-discount />
        }

        @if (featuresState.isNewRelease) {
          <app-is-new-release />
        }

        @if (featuresState.rating.current > 0 && !featuresState.hasDiscount) {
          <app-rating />
        }
      </div>
    </div>
  }
}
